@charset "utf-8";

body {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-size: 14px;
    color: #1E1E1E;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.inner {
    max-width: 1260px;
    width: 86.48%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}